<script>
    $("#sidebarMenu").remove();
</script>
<body class="bg-soft">
    <main>

        <!-- Section -->
        <section class="vh-lg-100 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <h1 class="h3">
                                重新設定密碼
                            </h1>
                            <p class="mb-4">請輸入您的電子郵件，以便我們寄送驗證碼。</p>
                            <form>
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="email">帳號郵件</label>
                                    <div class="input-group">
                                        <input type="email" class="form-control" id="email" required autofocus>
                                    </div>
                                </div>
                                <!-- End of Form -->

                                <a onclick="SentEmail()" class="btn btn-block btn-primary">驗證並重設密碼</a>

                                <!-- submit Ajax -->
                                <script type="text/javascript">

                                    function SentEmail() {
                                        Swal.fire({
                                            title: '確認重設密碼?',
                                            text: "使用臨時密碼登入後，請盡速更改密碼 !",
                                            icon: 'warning',
                                            confirmButtonColor: '#3085d6',
                                            confirmButtonText: '確認'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                Swal.fire(
                                                    '已傳送郵件!',
                                                    '臨時密碼已送出',
                                                    'success'
                                                )
                                                var strEmail = document.getElementById("email").value;
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("forgotpassword", "account")',
                                                    data: { email: strEmail },
                                                    success: function () {
                                                        document.location.href = "@Url.Action("index", "home")";
                                                    }
                                                })
                                            }
                                        })
                                    }
                                </script>
                                <!-- End submit Ajax -->

                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    Go back to the
                                    <a href="@Url.Action("index","home")" class="font-weight-bold">返回登入</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
