<script>
    $("#sidebarMenu").remove();
</script>
<main>
    <section class="vh-100 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex align-items-center justify-content-center">
                    <div>
                        <a href="@Url.Action("index","home")">
                            <img class="img-fluid w-75" src="~/Template/Dashboard/src/assets/img/illustrations/bs5-illustrations.svg">
                        </a>
                        <h1 class="mt-3">歡迎加入BEEWiN!</h1>
                        <p class="lead my-4">
                            最專業數位資產管理平台，馬上開始BEEWiN理財計畫。
                        </p>
                        <a class="btn btn-primary animate-hover" href="@Url.Action("index","home")">
                            <i class="fas fa-chevron-left mr-3 pl-2 animate-left-3"></i>返回首頁
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>