h2.horiline {
   width: 100%;
   max-width: 950px;
   text-align: center; 
   border-bottom: 1px solid #ddd; 
   line-height: 0.1em;
   margin: 10px auto 20px;} 

h2.horiline span { 
	background: #f1f2f5;
    padding:0 10px;}